<!DOCTYPE HTML>
<html> 
    <head>
        <title> Conifgure suas credenciais </title>
        <link href="/styleProduct.css" rel="stylesheet">
        <meta charset = "UTF-8"/>
        <style>
            body{
                font-family: Arial,sans-serif
            }
        </style>
    </head>
    <body>
        <p> Nesta página você pode configurar a sua API_KEY para o uso da aplicação. É importante ressaltar que ao fazer isto, os valores rid, default_recipient_id e  plan_id no arquivo products.json precisa ser atualizado  </p>
        <p> Esse valores são referentes ao id de recebedores e id de planos pertencentes à conta da configuração padrão desta loja </p>
        <p> Você também pode optar por usar as chaves padrões disponíveis na aplicação. </p>
        <form action="/setCustom" method="POST">
            <p> Api_Key: <input type="text" id = "api_key" name ="api_key" required = "true" /> </p>
            <p> Encryption_Key: <input type="text" id = "encryption_key" name ="encryption_key" required = "true" /> </p>
            <input type="submit" value = "Inserir as minhas chaves" class="cart-btn"/> 
        </form>
        <a href="/setDefault"> <button class = "cart-btn"> Usar padrões </button></a>
    </body>
</html>