<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Produtos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/stylePostOrder.css"/>
  <link rel='stylesheet prefetch' href='/wvjxgv.css'>

  <link rel="stylesheet" href="/styleGrid.css">

  
</head>

<body>

  <div class="wrapper">
	<nav id ='menu'>
			<ul>
				<li>  <a href='/getSubscriptions'> Minhas assinaturas </a> </li>
				<li>  <a href='/getTransactions'>  Minhas transações  </a> </li>
			</ul>
	</nav>
  	<h3> Produtos </h3>

	<div class="content">
		<!-- content here -->
		<div class="product-grid product-grid--flexbox">
			<div class="product-grid__wrapper">
				<!-- Product list start here -->

				<!-- Single product -->
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">			
							<img src="images/coverKirby.jpg" alt="Capa Kirby" class="product-grid__img" />
						</div>
						<span class="product-grid__title">Kirby Star Alies</span>
						<span class="product-grid__price">R$5900 centavos</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Kirby Star Alies - Nintendo Switch.</p>
			
								<span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i>  <a href="/productRender?id=1"> Veja mais </a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- end Single product -->

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">			
							<img src="images/ahri.png" alt="Ahri Star Guardian" class="product-grid__img" />
						</div>
						<span class="product-grid__title">Action Figure Ahri</span>
						<span class="product-grid__price">R$6000 centavos</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Action Figure Ahri Star Guardian .</p>		
								<span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i> <a href="/productRender?id=2"> Veja mais </a></span>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">			
							<img src="images/eshopCard.jpg" alt="Eshop Card" class="product-grid__img" />
						</div>
						<span class="product-grid__title">Cartão $20 Eshop</span>
						<span class="product-grid__price">R$2199 centavos</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Cartão $20 eShop Estados Unidos.</p>		
								<span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i>  <a href="/productRender?id=3"> Veja mais </a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">			
							<img src="images/card_netflix.jpg" alt="Netflix Card" class="product-grid__img" />
						</div>
						<span class="product-grid__title">Cŕéditos R$30 Netflix</span>
						<span class="product-grid__price">R$3199 centavos</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Créditos para a conta Netflix.</p>		
								<span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i>  <a href="/productRender?id=4"> Veja mais </a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">			
							<img src="images/lootbox.jpg" alt="LootBox" class="product-grid__img" />
						</div>
						<span class="product-grid__title">Plano Game LootBox</span>
						<span class="product-grid__price">R$1499 centavos</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Tenha diversos games em sua conta do steam mensalmente.</p>		
								<span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i>  <a href="/productRender?id=5"> Veja mais </a></span>
							</div>
						</div>
					</div>
				</div>

				
			</div>		
		</div>
	</div>

</div>
  
  

</body>

</html>