<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="css/styleProduct.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">

      <!-- Left Column / Headphones Image -->
      <div class="left-column">
    
        <img src="images/coverKirby.jpg" alt="Capa Kirby">

      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>Nintendo Switch</span>
          <h1>Kirby Star Alies</h1>
          <p>Use friend hearts to charm enemies and they'll fight alongside you! drop-in/drop-out co-op: up to three other players can take control of kirby's new friends
Play through the entire game with up to four players or with CPU friends Kirby and his friends have fresh moves thanks to new and expanded Copy abilities
Combine abilities with elements such as wind and water to create new friend abilities some bosses and enemies are weak to certain elemental attacks, so remember to Strategize</p>
        </div>

        <!-- Product Configuration -->

        
        <!-- Product Pricing -->
        <div class="product-price">
          <span>$59</span>
          <a href="#" class="cart-btn">Add to cart</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->

  </body>
</html>